:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bg-primary-color: #DEDEDE;
  --bg-secondary-color: #FFFFFF;
  --exclude-color: #DE3838;
  --selected-color: #41414D;
  --text-dark: #737380;
  --text-dark-2: #09090A
  --orange-low: #FFA585;
  --card-color: rgba(255, 255, 255, 0.4);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary-color);
}