:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bg-secondary-color: #FFFFFF;
  --exclude-color: #DE3838;
  --selected-color: #41414D;
  --text-dark: #737380;
  --orange-low: #FFA585
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}